{% extends 'loggedin.html' %}
{% load crispy_forms_tags %}

{% block title %}
{{ title }}
{% endblock title %}


{% block config %}
<style>

</style>
{%  endblock %}


{% block content %}
<h1>{{ title }}</h1>
    {% for message in messages %}

    <div class="alert alert-danger">
        <a class="close" href="#" data-dismiss="alert">×</a>
           {{ message }}
    </div>

{% endfor %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy}}
            <br>
        <button type="submit" class="btn btn-success"> Submit</button>
        </form>
{% endblock content %}